@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-spa-bg text-gray-800 font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

